* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    color: #163d3c9d;
    height: 2px;
    background-color: #163D3C;
}

::selection {
    background-color: #164b49;
    color: #fff;
}

.container {
    max-width: 1550px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}

body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    scroll-behavior: smooth;
}

header {

        
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #163D3C;
            z-index: 100;

            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 1600px;


                .logo {
                    letter-spacing: 2px;
                    font-size: 1.7rem;
                    color: #fff;
                }
    
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    li {
                        margin-left: 1.5rem;
    
                        a {
                            padding: 15px 20px;
                            color: #ddd;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                background: #102e2d;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .header-content {
            background-color: #F5F7F2;

            .container {
                text-align: center;
                margin-top: 5rem;
                
                h1 {
                    font-size: 5rem;
                    color: #163D3C;
                    margin-top: 1rem;
                    font-weight: 900;
                }

                p {
                    font-weight: 600;
                    color: #163d3c9d;
                }

                .email-input {
                    padding: 20px 40px;
                    margin-right: 2rem;
                    border-radius: 50px;
                    outline: none;
                    border: 1px solid #ddd;
                    margin-top: 1.5rem;
                    width: 30%;
                    font-size: 1.1rem;
                }

                .btn-input {
                    border-radius: 50px;
                    padding: 20px 40px;
                    border: 1px solid #F7B56B;
                    background: #F7B56B;
                    outline: none;
                    font-size: 1.1rem;
                    color: #163d3c;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                       background: #ffa640;
                       border: 1px solid #ffa640;
                       color: #113130;
                    }
                }

                img {
                    width: 70%;
                }
            }
        }
}


.features {

    .container {
        
        .features-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3rem;

            .feature-title {
                h1 {
                    color: #163D3C;
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-weight: 600;
                    color: #163d3c9d;
                    margin-bottom: 1.5rem;
                }

                a {
                    color: #163D3C;
                    font-size: 1.3rem;
                    border-bottom: 2px solid #163D3C;
                    font-weight: 600;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        background: #163D3C;
                        color: #fff;
                    }
                }
            }

            .features-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 4vw;
                grid-row-gap: 4vw;
                padding: 1vw 5vw 8vw;

                .feature {
                    border: 1px solid #ddd;
                    padding: 30px 50px;
                    transition: all 0.3s ease-in-out;

                    i {
                        font-size: 2rem;
                        margin-bottom: 1.4rem;
                        color: #8db47c;
                    }

                    h1 {
                        font-size: 2rem;
                        color: #163D3C;
                        margin-bottom: 1.2rem;
                    }

                    p {
                        color: #102e2da4;
                        font-weight: 600;
                    }

                    &:hover {
                        box-shadow: -3px 3px 10px rgba(0,0,0,0.3);
                    }
                }
            }

        }
    }
}


.works {
    background-color: #F5F7F2;

    .container {

        .works-title {
            text-align: center;

            h1 {
                font-size: 5rem;
                color: #163D3C;
            }

            p {
                color: #264617a4;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

        .works-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5rem;

            ul {
                li {
                    margin-bottom: 2rem;
                    border: 1px solid #E4ECDF;
                    background: #E4ECDF;
                    padding: 20px 90px;
                    transition: all 0.3s ease-in-out;

                    i {
                        font-size: 2rem;
                    }

                    h1 {
                        margin-top: 1rem;
                        color: #163D3C;
                    }

                    p {
                        color: #264617a4;
                        font-weight: 600;
                        font-size: 1.1;
                    }

                    &:hover {
                        box-shadow: -4px 4px 10px rgba(0,0,0,0.3);
                    }
                }
           }

           img {
               width: 50%;
           }
        }
        
    }
}

.about {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .container {
        .about-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .about-title {
                h1 {
                    font-size: 5rem;
                    color: #163D3C;
                }

            }

            .about-p {

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #264617a4; 
                    margin-bottom: 1rem;
                }

                a {
                    border-bottom: 2px solid #163D3C;
                    color: #163D3C;
                    font-size: 1.2rem;
                    font-weight: 600;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        color: #fff;
                        background: #163D3C;
                    }
                }
            }
        }
    }
}

.people {
    margin-bottom: 5rem;
    
    .container {

        .people-title {
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 10rem;

            h1 {
                font-size: 5rem;
                color: #163D3C;
            }

            p {
                font-size: 1.1rem;
                font-weight: 600;
                color: #264617a4; 
            }
        }

        .card-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .card {
                background: #F5F7F2;
                padding: 40px;
                transition: all 0.3s ease-in-out;

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #264617a4; 
                    margin-bottom: 1.3rem;
                }

                h3 {
                    font-size: 1.3rem;
                }

                img {
                    width: 50px;
                    border: 3px solid #4d7c05;
                }

                &:hover {
                    box-shadow: -3px 3px 10px rgba(0,0,0,0.3);
                }
            }
        }

    }
}



.subscribe {
    position: relative;
    top: 0;
    left: 0;
    background-color: #F5F7F2;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .subscribe-title {
            h1 {
                font-size: 5rem;
                color: #163D3C;
            }

            p {
                font-size: 1.1rem;
                font-weight: 600;
                color: #264617a4; 
                margin-bottom: 2rem;
            }

            .input-subs {
                width: 50%;
                height: 60px;
                border-radius: 50px;
                border: 1px solid #ddd;
                padding: 20px;
                outline: none;
                font-size: 1.1rem;
            }

            .btn-subs {
                height: 60px;
                padding: 2px 20px;
                border-radius: 50px;
                outline: none;
                border: 1px solid #ddd;
                cursor: pointer;
                color: #163D3C;
                background: #fff;
                font-size: 1.1rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: #163D3C;
                    color: #fff;
                }
            }
        }
    }

    .subs-1-img {
        position: absolute;
        top: -5px;
        left: 0;
    }

    .subs-3-img {
        position: absolute;
        top: 0;
        right: 0;
    }
}